#logo {
  height: 40px;
  width: 40px;
}

body {
  background-color: #edeff5;
}

#total-orders {
  background-color: #72d4e6;
}

#orders-delivered {
  background-color: #c91d1d;
}

#orders-pending {
  background-color: #22ad5c;
}
